<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/index.css">
    <title>City weather</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
          <div class="content">
            <div class="content-header">
              <h1>Test</h1>
              <div class="error">Some error</div>    
            </div>
            <div class="content-form col-4">
              <form action="/" method="POST">
                <div class="mb-3">
                  <label for="city" class="form-label">City</label>
                  <input type="text" class="form-control" name="city">
                  <div id="emailHelp" class="form-text">Название города</div>
                </div>
                <button type="submit" class="btn btn-primary">Показать погоду</button>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>